# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/*
next-server-actions-crud/.env
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
next-server-actions-crud/node_modules
next-server-actions-crud/.pnp
next-server-actions-crud/.pnp.js
next-server-actions-crud/.yarn/install-state.gz

# testing
next-server-actions-crud/coverage

# next.js
next-server-actions-crud/.next/
/out/

# production
next-server-actions-crud/build

# misc
next-server-actions-crud/.DS_Store
next-server-actions-crud/*.pem

# debug
next-server-actions-crud/npm-debug.log*
next-server-actions-crud/yarn-debug.log*
next-server-actions-crud/yarn-error.log*

# local env files
next-server-actions-crud/.env*.local

# vercel
next-server-actions-crud/.vercel

# typescript
next-server-actions-crud/*.tsbuildinfo
next-server-actions-crud/next-env.d.ts
next-server-actions-crud/prisma/migrations/20240816165517_init/migration.sql


guitarla/logs
guitarla/*.log
guitarla/npm-debug.log*
guitarla/yarn-debug.log*
guitarla/yarn-error.log*
guitarla/pnpm-debug.log*
guitarla/lerna-debug.log*
guitarla/node_modules
guitarla/dist
guitarla/dist-ssr
guitarla/*.local
guitarla/# Editor directories and files
guitarla/.vscode/*
guitarla/!.vscode/extensions.json
guitarla/.idea
guitarla/.DS_Store
guitarla/*.suo
guitarla/*.ntvs*
guitarla/*.njsproj
guitarla/*.sln
guitarla/*.sw?

react-typescript/guitarla-ts/logs
react-typescript/guitarla-ts/*.log
react-typescript/guitarla-ts/npm-debug.log*
react-typescript/guitarla-ts/yarn-debug.log*
react-typescript/guitarla-ts/yarn-error.log*
react-typescript/guitarla-ts/pnpm-debug.log*
react-typescript/guitarla-ts/lerna-debug.log*
react-typescript/guitarla-ts/node_modules
react-typescript/guitarla-ts/dist
react-typescript/guitarla-ts/dist-ssr
react-typescript/guitarla-ts/*.local
react-typescript/guitarla-ts/# Editor directories and files
react-typescript/guitarla-ts/.vscode/*
react-typescript/guitarla-ts/!.vscode/extensions.json
react-typescript/guitarla-ts/.idea
react-typescript/guitarla-ts/.DS_Store
react-typescript/guitarla-ts/*.suo
react-typescript/guitarla-ts/*.ntvs*
react-typescript/guitarla-ts/*.njsproj
react-typescript/guitarla-ts/*.sln
react-typescript/guitarla-ts/*.sw?


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


react-typescript/calculadora-propinas/logs
react-typescript/calculadora-propinas/*.log
react-typescript/calculadora-propinas/npm-debug.log*
react-typescript/calculadora-propinas/yarn-debug.log*
react-typescript/calculadora-propinas/yarn-error.log*
react-typescript/calculadora-propinas/pnpm-debug.log*
react-typescript/calculadora-propinas/lerna-debug.log*
react-typescript/calculadora-propinas/node_modules
react-typescript/calculadora-propinas/dist
react-typescript/calculadora-propinas/dist-ssr
react-typescript/calculadora-propinas/*.local
react-typescript/calculadora-propinas/.vscode/*
react-typescript/calculadora-propinas/!.vscode/extensions.json
react-typescript/calculadora-propinas/.idea
react-typescript/calculadora-propinas/.DS_Store
react-typescript/calculadora-propinas/*.suo
react-typescript/calculadora-propinas/*.ntvs*
react-typescript/calculadora-propinas/*.njsproj
react-typescript/calculadora-propinas/*.sln
react-typescript/calculadora-propinas/*.sw?
